*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#map{
    margin:70px auto 0; 
    width:75vw; /* viewport width */
    height:100vh; /* viewport height */
    height:calc(75vw * 9 / 16); 
    /* width:100vw;
    height:100vh; */
    /* border:1px solid black; */
   /* box-shadow:-5px -5px 5px 2px rgba(0,0,0,0.3); */
    box-shadow:0 0 3px 3px rgba(0,0,0,0.3);
}

